[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
uvicorn = "*"
redis = "*"
sqlalchemy = "*"
alembic = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.8"

[scripts]
dev = "pipenv run uvicorn main:app --reload"
create-migrations = "pipenv run alembic revision --autogenerate"
migrate = "pipenv run alembic upgrade head"